<configuration>

    <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{ISO8601} %coloredLevel %logger{15} - %message%n%xException{5}</pattern>
            <immediateFlush>true</immediateFlush>
        </encoder>
    </appender>

    <appender name="ASYNC" class="net.logstash.logback.appender.LoggingEventAsyncDisruptorAppender">
        <appender class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <timeZone>UTC</timeZone>
                <includeContext>false</includeContext>
                <immediateFlush>false</immediateFlush>
                <customFields>{"appname":"core_kafka_service", "group":"core"}</customFields>
                <fieldNames>
                    <timestamp>timestamp</timestamp>
                    <version>[ignore]</version>
                    <levelValue>[ignore]</levelValue>
                </fieldNames>
            </encoder>
        </appender>
    </appender>

    <!-- log levels -->
    <logger name="play" level="ERROR"/>
    <logger name="core.kafka" level="INFO"/>
    <logger name="access" level="ERROR"/>

    <root level="INFO">
        <appender-ref ref="ASYNC"/>
    </root>

</configuration>